{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Fiscal</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <style>
        html{
            background-color: #f4f4f4;
        }
        header{
            text-align: center;
            color: tomato;
            padding-top: 20px;
        }
        body{
            margin-left: 25%;
            margin-right: 25%;
        }
    </style>
</head>
<body>

    {% if form.errors %}

    <div class="alert alert-danger" role="alert">
        Alert - ERROR!
    </div>

    {% endif %}

    <header>
        <a href="#" class="nav-logo"><img src="{% static '/img/logo_dr_ahorro.png' %}" alt="logo_dr_ahorro"></a>
        <br>
        <h1>Actualizar Fiscal</h1>
    </header>
    <br>
    <div>
        <div class="row col-12 justify-content-end mb-2 pr-0">
            <!-- <button type="button" class="btn btn-success col-md-2">Agregar Nuevo</button> -->
            <a href="{% url 'listaFiscales' %}" class="btn btn-success col-md-3">Listar Fiscales</a>
        </div>
    </div>

    <main>

      <section>

        <form action="{% url 'actualizarFiscal' fiscal.id %}" method="post">

            {% csrf_token %} <!--elemento de seguridad-->

            {% if msg %}

                <div class="alert alert-success" role="alert">
                    Registro Actualizado
                </div>

            {% endif %}

            {{ form|crispy }}
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>

        </form>
      </section>  



    </main>

</body>
</html>

{% endblock %}