{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <header>

        <h1 class="title">Mis Familiares</h1>
        <br>
        <nav class="navegador">
            <ul>
                <li><a href="{% url 'registrarFamiliar' %}">Registrar Familiar</a></li>
                <li><a href="{% url 'listarFamiliares' %}">Listar Familiar</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>

{% endblock %}